*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        background-color: #fff;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }
    .logo{
        font-size: 28px;
        font-weight: bold;
        color: #333;
    }
    .logo small{
        display: block;
        font-size: 13px;
        color: #7cb342;
    }
    .nav-icons span{
        margin-left: 15px;
        font-size: 20px;
    }
    .card sup{
        background-color: #7cb342;
        color: white;
        padding: 2px 6px;
        border-radius: 50px;
        font-size: 10px;
         
    }
    .tag{
        background-color: black;
       
        color: white;
        padding: 8px 20px;
        border-radius: 30px;
        font-size: 14px;
    }
    .hero{
        background: #f9f9f9;
        background-image: url(https://png.pngtree.com/png-vector/20240327/ourmid/pngtree-transparent-background-texture-seamless-brick-wall-pattern-overlay-png-image_11991950.png);
        background-repeat: no-repeat;
        text-align: center;
        padding: 150px 20px;
        background-size: cover;
    }
    
    h1{
        font-size: 50px;
        color: #333;
        line-height: 1.3;
    }
    .hero h1 span{
        color: #7cb342;
    }
    .search-box{
        display: flex;
        justify-content: center;
        max-width: 900px;
        margin: auto;
    }
    .search-box input {
        flex: 1;
        padding: 15px 20px;
        border-radius: 50px 0 0 50px;
        border: 1px solid #ddd;
        outline: none;
        font-size: 18px;
}
.search-box button{
    padding: 15px 25px;
    border: none;
    background: #7cb342;
    color: white;
    font-size: 18px;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    }
    .product{
        max-width: 1200px;
        text-align: center;
        margin: auto;
    }
    .product p{
        color: #7bdd7b;
        font-weight: 600px;
        font-size: 12px;
        letter-spacing: 2px;
    }
    h2{
        font-size: 35px;
        margin: 10px 0 30px;
    }
    .top{
       margin-bottom: 40px;
    }
    .top button{
        background-color: #f2f2f2;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        padding: 9px 40px;
        margin: 10px;
       
       
       
        
    }
    .top .active{
        background-color: #7bdd7b;
        color: white;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
        row-gap: 10px;
       

        
    }
    .card{
        position: relative;
        background: white;
        border: 2px solid #6b4c;
        border-radius: 50px;
        padding: 30px;
        width: 300px;
    
    }
    .card:hover{
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }
    .tag{
        position:absolute;
        top:20px;
        left:20px;
        background:#e6f3e6;
        color:#6ab04c;
        font-size:12px;
        padding:5px 12px;
        border-radius:15px;
    }
    .discount{
    position:absolute;
    top:20px;
    right:20px;
    background:#ff4d4d;
    color:white;
    font-size:12px;
    padding:5px 10px;
    border-radius:15px;
    }
    .image{
        text-align: center;
        margin: 50px 0 30px;

    }
    .image img{
        max-width: 200px;
    }
    .rating{
        font-size: 19px;
        color: yellow;
        margin-bottom: 10px;
        
    }
    .id{
        text-align: left;
    }
    .rating span{
        color: gray;
        font-size: 15px;
    }
    .id h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .price{
        display: flex;
        gap: 20px;  
    }
    .price .new{
        font-weight: bold;
        color:#38b403
    }
    .price .old{
        text-decoration: line-through;
        color: grid;
    }
    body{
        background: #fff;
        margin: 10;
        padding: 60px;
        background-image: url(https://img.freepik.com/premium-photo/arid-landscape_1605458-2449.jpg?semt=ais_hybrid&w=740&q=80);
       
    }
    .product{
        text-align: center;
        margin: auto;
    }
    .product p {
        color: #7bdd7b;
        font-weight: 600px;
        font-size: 12px;
        letter-spacing: 2px;
    }
    
        .icon img {
            width: 40px;
            border-radius: 10px;
            height: 40px;
            gap: 10px;
           
        }
    
        .bottom {
            display: flex;
            align-items: center;
            gap: 15px;
            width: 900px;
            padding: 20px;
            margin: 10px;
            justify-content: center;
        }
        .text{
            text-align: right;
            
        }
        .center img{
            height: 400px;
            align-items: center;
            width: 800px;
        }
        .top{
            margin: 0px;
            padding: 8px 12px;
            width: 600px;
            display: flex;
            flex-direction: column;
            gap: 0px;
            float: center;
            
        }
        .item img{
            height: 40px;
            width: 35px;
            border-radius: 10px;
            padding-left: 0px 0px 10px 0px;
            margin-top: -40px;
            margin-right: 8;
            gap: 0px;
            
        }